* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style*/
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}



.color-orenge {
  color: #469165;
}

.btn {
  background-color: #469165;
  border: none;
  padding: 11px 16px;
  border-radius: 4px; 
  font-size: 16px;
  font-weight: semi-bold;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #898d8b;
}

.primary {  background-color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  border-radius: 1000px; 
  font-size: 16px;
  font-weight: semi-bold;
  color: #469165;
  cursor: pointer;
  vertical-align: middle;
}
.primary img{
  margin-right: 2px;
  vertical-align: middle;
}



.btn-primary img{
  margin-left: 8px;
  vertical-align: middle;
}

.btn-primary-1 img{
  margin-right: 8px;
  vertical-align: middle;
}

.ready-container img{
  margin-left: 10px;
} 

.section-heading{
  max-width: 1360px;
  text-align: center;

}

.section-heading h2{
font-size: 48px;
margin-bottom: 16px;
}

.section-heading p{
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-bottom: 20px;
}
 
/*main styles*/

header{
 
  background-image: url("images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 125px;
  padding-top: 25px;

}

nav{
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  text-align: center;
  background-color: white;
  padding: 0px 0px;
}

nav .nav-container{
  background-color: white;
  width: 85%;
  max-width: 1350px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav .menu{
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

nav .menu a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

#banner{
  padding-top: 92px;
}

#banner .banner-content{
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  padding: 0 100px;
  text-align: center;
}

#banner .banner-content h1{
font-size: 70px;
font-weight: semi-bold;
color: white;
}

.color-green {
  color: #30B868;
}


#banner .banner-content p{
font-size: 18px;
font-weight: regular;
color: white;
margin-bottom: 20px 0;
padding-top: 20px;
padding-bottom: 20px;
m
}

/* about section styles*/


#about .about-container{
  width: 85%;
  max-width: 1600px;
  margin: 0px auto;
  text-align: center;
  background-color: rgb(245, 245, 245);
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 100px;
}



#about .about-container .about-info{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

#about .about-container .about-info .about-card{
  background-color: white;
  padding: 40px 30px;
  border-radius: 8px;
  text-align: left;
  width: 100%;
  text-align: center;
}

#about .about-container .about-info .about-card h4{
  font-size: 20px;
  margin-bottom: 16px;
  margin-top: 10px;
}

#about .about-container .about-info .about-card p{
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-top: 10px;
}

.btn-about {
  background-color: #F95555;
  border: none;
  padding: 12px 13px;
  border-radius: 1000px;
}

/* brain section styles*/

.brain-container{
  width: 85%;
  max-width: 1600px;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.brain-content{
  margin-top: 100px;
  margin-left: 60px;
  max-width: 700px;
}


.brain-content h5{
  color: #30B868;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
}

.brain-content h2{
  font-size: 48px;
  margin-bottom: 20px;
}

.brain-content p{
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}

.brain-points{
  margin-top: 30px;
}

.brain-points p{
  font-size: 16px;
  color: #627382;
  line-height: 40px;
  font-weight: semi-bold;
  color: #000;
}

/* ready section styles*/

#ready{
  margin-bottom: 100px;
}

.ready-container{
  width: 85%;
  max-width: 1360px;
  margin: 0px auto;
  text-align: center;
  background-color: #F7F6F2;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 12px;
}

.ready-container h2{
  font-size: 36px;
  margin-bottom: 0px;
} 

.ready-container p{
  max-width: 800px;
  margin: 0px auto;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 30px;
  color: #627382;
}
.ready-container button{ 
  margin-top: 30px;
  padding: 16px 32px;
}

/* footer styles*/

.footer-container{
  width: 85%;
  max-width: 1600px;
  margin: 0px auto;
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: #001931;
} 

.footer-content{
  max-width: 1360px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding-bottom: 80px;
}

.footer-content p{
  color: white;
  font-size: 16px;
}

.footer-content img{
  cursor: pointer;
}

.footer-bottom{
  max-width: 1360px;
  margin: 0px auto;
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #627382;
  padding-top: 20px;
}

.footer-bottom p{
  color: white;
  font-size: 16px;
  font-weight: regular;
}

.footer-social p{
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 100px;
}

.social-links{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
  margin-right: 110px;
}

